/* Reset CSS (DO NOT DELETE) */
html,
body,
ul,
ol,
li,
h1,
h2,
h3,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

/* Ketik code Anda dibawah */
.header {
  background-color: brown;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list {
  float: left;
  font-size: 15px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.main {
  padding: 60px 80px;
  margin-bottom: 20px;
}

.copy-container h1 {
  font-size: 30px;
}

.copy-container h2 {
  font-size: 50px;
}

.copy-container span {
  color: #ff4a4a;
}

.contents {
  height: 350px;
  margin-top: 10px;
  padding: 60px 80px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.contents-item {
  float: left;
  margin-right: 40px;
	font-size: 22px;
}

.contents-item li {
  display:list-item;
  font-size: 22px;
  margin-top: 5px;
}

.contact-form{
  padding: 60px 80px;
	font-size:28px;
}

.contact-form li{
  display:list-item;
  text-align: justify;
	font-size:22px;
}

.footer {
  background-color: brown;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 22px;
}
