/* Reset CSS (DO NOT DELETE) */
html,
body,
ul,
ol,
li,
h1,
h2,
h3,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

/* Ketik code Anda dibawah */
.header {
  background-color: burlywood;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-right {
  float: right;
  margin-right: -4px;
  }

.header-right a {
  line-height: 90px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}
.header-right a:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.main {
  padding: 60px 80px;
  margin-bottom: 20px;
}

.copy-container h1 {
  font-size: 30px;
}

.copy-container h2 {
	margin-bottom:20px;
  font-size: 50px;
}

.copy-container span {
  color: #ff4a4a;
}

.contents {
  padding: 60px 80px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.contents-item {
	margin-right:20px;
}

.contents-item li {
	display:block;
  font-size: 22px;
}

.contact-form{
  padding: 60px 80px;
	font-size:28px;
}
.cara-membuat{
	padding: 20px 20px;
}
.cara-membuat li{
	
	list-style:decimal;
  text-align: justify;
  list-style-position: initial;
  list-style-image: initial;
  list-style-type: decimal;
	font-size:22px;
}

.footer {
  background-color: tan;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 22px;
}

.header li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.footer-list li:hover {
  opacity: 0.5;
}
.foto{
	padding-top:50px;
	text-align:center;
}
